@page "/"
@using PuzzleRunner.Components.Shared
@using InputStorageDatabase
@using Microsoft.EntityFrameworkCore

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<br />
<InputUploader />

@inject AdventOfCodeContext DbContext
@code
{
    protected override async Task OnInitializedAsync()
    {
        var allInputs = await DbContext.PuzzleInputs.ToListAsync();
    }
}
